.myTable {
  height: 400px;
}

.myTable:global(.tk-custom-table-wrapper) {
  border: 1px solid black;
  border-radius: 8px;
}

.myTable :global(.tk-table) :global(.tk-table-body-tr:hover) {
  background: rgb(168, 168, 168);
}

.myThemeToggleButton {
  background-color: rgb(59, 111, 255);
  border: 1px solid black;
  border-radius: 6px;
  padding: 8px;
  color: white;
  margin-bottom: 20px;
}

.myThemeToggleButton:hover {
  border-radius: 10px;
  background-color: rgb(47, 47, 255);
}
