.myTable {
  max-height: 400px;
  margin-bottom: 20px;
  overflow: auto;
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

:global(.dark-mode) .myTable {
  background-color: #282c34;
  color: #ddd;
}
