* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-outline-radius: unset;
  outline: none;
  color: inherit;
  font-family: Verdana, Geneva, Tahoma, 'arial', 'Times New Roman', tahoma;
}

*::-webkit-scrollbar {
  width: 10px;
  opacity: 0.5;
  overflow-x: hidden;
}

*::-webkit-scrollbar-track {
  background: #7d8784;
  border-radius: 5px;
  opacity: 0.5;
}

*::-webkit-scrollbar-thumb {
  background: rgba(133, 133, 248, 0.9);
  border-radius: 5px;
  opacity: 0.9;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(93, 93, 255, 0.9);
  opacity: 0.5;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}
