* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-outline-radius: unset;
  outline: none;
  color: inherit;
  scrollbar-color: rgba(93, 93, 255, 0.9) #7d8784 !important;
  scrollbar-width: thin !important;
  font-family: Verdana, Geneva, Tahoma, 'arial', 'Times New Roman', tahoma;
}

*::-webkit-scrollbar {
  width: 10px;
  opacity: 0.5;
  overflow-x: hidden;
}

*::-webkit-scrollbar-track {
  background: #7d8784;
  border-radius: 5px;
  opacity: 0.5;
}

*::-webkit-scrollbar-thumb {
  background: rgba(133, 133, 248, 0.9);
  border-radius: 5px;
  opacity: 0.9;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(93, 93, 255, 0.9);
  opacity: 0.5;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.private-table .tk-table-data-row:hover {
  background: rgb(168, 168, 168);
}

html[data-theme='dark'] .tk-custom-table-wrapper {
  background-color: transparent;
  padding: 2px;
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 255);
}

html[data-theme='dark'] .tk-table-header-cell {
  padding: 10px;
  border-left: 1px solid white;
  background-color: #1e1e1e;
  color: white;
  border-bottom: 1px solid white;
}

html[data-theme='dark'] .tk-table-header-cell:first-child {
  border-left: none;
}

html[data-theme='dark'] .tk-table-data-row {
  color: #dddddd;
  background-color: #2a2a2a;
}

html[data-theme='dark'] .tk-table-data-row:nth-child(even) {
  background-color: #333333;
}

html[data-theme='dark'] .tk-table-data-cell {
  padding: 10px;
}

html[data-theme='dark'] .tk-table-data-row:last-child .tk-table-data-cell:last-child {
  border-radius: 0 0 6px 0;
}

html[data-theme='dark'] .tk-table-data-row:last-child .tk-table-data-cell:first-child {
  border-radius: 0 0 0 6px;
}
